<a href="https://colab.research.google.com/github/pollicy/Data-ladies-2025/blob/main/Data_ladies_second_cohort_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Science
Data Science is the field that combines programming, statistics, and domain knowledge to extract insights from data.


### Why Data Science?
- Used in healthcare, finance, marketing, agriculture, and more
- Helps companies make data-driven decisions
- Powers AI systems like recommendation engines and chatbots


### Data Science Lifecycle
1. Problem Definition
2. Data Collection
3. Data Cleaning
4. Exploratory Data Analysis (EDA)
5. Modeling
6. Evaluation
7. Deployment


### Tools We'll Use
- **Python**
- **Jupyter Notebook**
- **NumPy**
- **Pandas**

Python Basics Refresher

In [ ]:
# Basic Python operations
x = 10
y = 3


print("Add:", x + y)
print("Multiply:", x * y)
print("Division:", x / y)
print("Power:", x ** y)


# Lists
my_list = [1, 2, 3, 4]
print("List:", my_list)

NumPy Essentials

In [ ]:
import numpy as np

In [ ]:
python_list = [1, 2, 3, 4]
numpy_array = np.array([1, 2, 3, 4])


print("Python List:", python_list)
print("NumPy Array:", numpy_array)

## Creating Arrays

In [ ]:
arr1 = np.array([10, 20, 30])
arr2 = np.zeros((2, 3))
arr3 = np.ones((3, 3))
arr4 = np.arange(0, 10, 2)
arr5 = np.random.rand(3, 3)


arr1, arr2, arr3, arr4, arr5

## Indexing & Slicing

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
print(arr[0])
print(arr[1:4])
print(arr[-1])

## Array Shape & Size

In [ ]:
arr2d = np.array([[1, 2, 3], [4, 5, 6]])


print("Shape:", arr2d.shape)
print("Size:", arr2d.size)
print("Rows:", arr2d[0])
print("Specific Element (row 1, col 2):", arr2d[1, 2])

## Math Operations

In [ ]:
a = np.array([1, 2, 3])
b = np.array([10, 20, 30])


print(a + b)
print(a * b)
print(b - a)
print(b / a)

## Statistics with NumPy

In [ ]:
stats_arr = np.array([4, 6, 8, 10, 12])


print("Mean:", stats_arr.mean())
print("Median:", np.median(stats_arr))
print("Min:", stats_arr.min())
print("Max:", stats_arr.max())
print("Std Dev:", stats_arr.std())

## ðŸ¼ Pandas Introduction

# Pandas Introduction
Pandas is a Python library for data manipulation and analysis.


### Key Components:
- **Series** â†’ One-dimensional data
- **DataFrame** â†’ Two-dimensional data (like Excel)

## Import Pandas

In [ ]:
import pandas as pd

## Creating Series & DataFrame

In [ ]:
# Creating a Series
s = pd.Series([10, 20, 30, 40])


# Creating a DataFrame
data = {
"Name": ["Amina", "Brian", "Cathy"],
"Age": [23, 25, 22],
"Score": [88, 92, 79]
}
df = pd.DataFrame(data)


s, df

# Loading & Exploring Data

In [ ]:
df = pd.read_csv("sample.csv")


print(df.head())
print(df.info())
print(df.describe())
print(df.shape)

## Selecting Columns & Rows

In [ ]:
# Selecting columns
ages = df["Age"]


# Selecting multiple columns
subset = df[["Name", "Score"]]


# Selecting rows by index
first_row = df.iloc[0]
rows_1_to_3 = df.iloc[1:4]


ages, subset, first_row, rows_1_to_3

## Sorting Data

In [ ]:
# Sort by age
sorted_df = df.sort_values(by="Age", ascending=True)
sorted_df

## Handling Missing Values

In [ ]:
# Check for missing values
print(df.isnull().sum())


# Fill missing values
filled_df = df.fillna({"Age": df["Age"].mean()})


# Drop rows with missing values
dropped_df = df.dropna()

## Removing Duplicates

In [ ]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()


# Count duplicates
print("Duplicates removed:", len(df) - len(df_no_duplicates))

## Renaming Columns

In [ ]:
# Rename specific columns
df_renamed = df.rename(columns={"Name": "Full_Name", "Score": "Exam_Score"})
df_renamed.head()

## Changing Data Types

In [ ]:
# Show current types
print(df.dtypes)


# Convert Age to float
df["Age"] = df["Age"].astype(float)
print(df.dtypes)

## Replacing Incorrect Data

In [ ]:
# Example: Replace wrong age values
df["Age"] = df["Age"].replace({0: None})
df["Age"] = df["Age"].fillna(df["Age"].mean())


df.head()

## Data Analysis

In [ ]:
# Students older than 24
older_students = df[df["Age"] > 24]


# Score above 85
high_scores = df[df["Score"] > 85]


older_students, high_scores

## Grouping & Aggregation

In [ ]:
# Example dataset with categories


sample = pd.DataFrame({
"Department": ["IT", "HR", "IT", "Finance", "HR"],
"Salary": [800, 600, 900, 700, 650]
})


# Group by department
print(sample.groupby("Department")["Salary"].mean())

## Sorting & Ranking

In [ ]:
# Sort by scores in descending order
sorted_scores = df.sort_values(by="Score", ascending=False)


# Rank scores
ranked_df = df.copy()
ranked_df["Rank"] = df["Score"].rank(ascending=False)


sorted_scores, ranked_df

## Descriptive Statistics Recap

In [ ]:
print("Mean Age:", df["Age"].mean())
print("Median Score:", df["Score"].median())
print("Std Dev of Scores:", df["Score"].std())